<?xml version="1.0" encoding="utf-8" ?>
<ThinkDev.Logging>
  <Global IsLog="True" ThrowException="false" StartDebugConsole="false" InnerLogger="C:\WebAppLogs\JR.NewTenancy\JR.NewTenancy.Servcie.MainService\"/>
  <Variable>
    <var name="LogDir" value="C:\WebAppLogs\JR.NewTenancy\JR.NewTenancy.Servcie.MainService\"/>
    <var name="LogDateDir" value="C:\WebAppLogs\JR.NewTenancy\JR.NewTenancy.Servcie.MainService\{year}\{month}\{day}\"/>
    <var name="MailServer" value="fastsmtphz.qiye.163.com"/>
    <var name="FromMail" value="webalarm@rundamedical.com"/>
    <var name="ToMail" value="chenchangchun@rundamedical.com"/>
    <var name="MailAccount" value="webalarm@rundamedical.com"/>
    <var name="MailPassword" value="runda123"/>
    <var name="SysName" value="NewTenancy warning email"/>
  </Variable>
  <Targets>
    <target Name="InfoFile" TyPe="File" Filename="{LogDateDir}\Info.txt" Encode="gb2312"/>
    <target Name="ErrorFile" TyPe="File" Filename="{LogDateDir}\Error.txt" Encode="gb2312"/>
    <target Name="DebugFile" TyPe="File" Filename="{LogDateDir}\Debug.txt" Encode="gb2312"/>
    <target Name="TraceFile" TyPe="File" Filename="{LogDateDir}\Trace.txt" Encode="gb2312"/>
    <target Name="WarnFile" TyPe="File" Filename="{LogDateDir}\Warn.txt" Encode="gb2312"/>
    <target name="ErrorMail" type="Mail" mailserver="{MailServer}" frommail="{FromMail}" mailaccount="{MailAccount}" MinLogTimeTick="60" mailpassword="{MailPassword}" subject="NewTenancy warning email" tomail="{ToMail}"/>
  </Targets>
  <Loggers>
    <Logger name="DefaultLogger" IsLog="true" Targets="InfoFile" Layout="[LoggerLayout] {LongDate} - {message}">
      <Level level="Trace" targets="TraceFile" Layout="[LevelLayout] {LongDate} - {message}" />
      <Level level="Debug" targets="DebugFile"/>
      <Level level="Warn" targets="WarnFile"/>
      <Level level="Debug" targets="DebugFile"/>
      <Level level="Error" targets="ErrorFile,ErrorMail" Layout="[LevelLayout] {LongDate} - {message}" />
    </Logger>
    <Logger name="StorageLogger" IsLog="true" Targets="InfoFile" Layout="[LoggerLayout] {LongDate} - {message}">
      <Level level="Trace" targets="TraceFile" Layout="[LevelLayout] {LongDate} - {message}" />
      <Level level="Debug" targets="DebugFile"/>
      <Level level="Warn" targets="WarnFile"/>
      <Level level="Debug" targets="DebugFile"/>
      <Level level="Error" targets="ErrorFile,ErrorMail" Layout="[LevelLayout] {LongDate} - {message}" />
    </Logger>
  </Loggers>
</ThinkDev.Logging>








