<?xml version="1.0" encoding="utf-8" ?>
<ThinkDev.Caching>
  <!-- 缓存组件全局配置 -->
  <Global IsLog="True" ThrowException="false" InnerLogPath="D:\WebAppLogs\Runda.B2B\Runda.B2B.Web.MainWeb\" />
  <!-- 缓存对象配置 -->
  <Caches>
    <cache Name="runtime" Type="RunTime"/>
    <cache Name="redis" Type="Redis" ServerIPsWrite="10.17.100.232:6379" ServerIPsReadOnly="10.17.100.232:6379" />
    
    <!--<cache Name="redis" Type="Redis" ServerIPsWrite="192.168.23.178:6379" ServerIPsReadOnly="192.168.23.178:6379" />-->
  </Caches>
</ThinkDev.Caching>
