<?xml version="1.0" encoding="utf-8" ?>
<ThinkDev.Task>
  <!-- Task组件全局配置 -->
  <Global IsRun="True" IsAutoRun="True"/>

  <!-- 循环任务配置 -->
  <LoopTasks>
    <!--循环从数据库缓存用户信息 每分钟-->
    <LoopTask TaskName="Task_Loop_ExpiredRemind" IsRun="true" Period="60000"  ClassName="JR.NewTenancy.Business.BackTask.ApprovelRemindEmail, JR.NewTenancy.Business" MethodName="Loop_ExpiredRemind"/>
  </LoopTasks>

  <!-- 调度任务配置 -->
  <CronTasks>
    <!-- 每5分钟发送订单催付短信 -->
    <!--<CronTask TaskName="Task_Loop_NotifyOrder" IsRun="false" TimeExpress="* */5 * * * *" ClassName="EMoney.IStock.Business.BackTask.OrderNotify, EMoney.IStock.Business" MethodName="Loop_NotifyOrder"/>-->
  </CronTasks>
</ThinkDev.Task>