    body {
      background-color: #f6fbff
    }

    .container {
      box-sizing: border-box;
      padding: 5px;
      height: 100%
    }
    .mint-field-core {
      background: #f7f7f7
    }
    .listDiv .OrderInfoList.field .mint-field-core {
      border: 1px solid #b6b6b6;
    }

    .bolder span.mint-cell-text {
      font-weight: bolder
    }

    .bolder {
      font-weight: bolder
    }

    .clear {
      clear: both
    }
