<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <!--把日志信息输出到文件里-->
    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="DEBUG" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <file value="Logs/"/>
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true"/>
      <!--设置动态文件名-->
      <StaticLogFileName value="false"/>
      <!--变换的形式为日期，这种情况下每天只有一个日志-->
      <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
      <!--<rollingStyle value="Date"/>-->
      <!--变换的形式为日志大小-->
      <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <RollingStyle value="Composite"/>
      <!--日期的格式 (yyyyMMdd)，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <datePattern value="yyyy-MM-dd/&quot;Debug.log&quot;"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="100"/>
      <!--每个日志文件的最大大小;可用的单位:KB|MB|GB;不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="8MB"/>
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="★★★★★★"/>-->
        <ConversionPattern value="★记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：【%message】%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <appender name="INFO" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <file value="Logs/"/>
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true"/>
      <!--设置动态文件名-->
      <StaticLogFileName value="false"/>
      <!--变换的形式为日期，这种情况下每天只有一个日志-->
      <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
      <!--<rollingStyle value="Date"/>-->
      <!--变换的形式为日志大小-->
      <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <RollingStyle value="Composite"/>
      <!--日期的格式 (yyyyMMdd)，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <datePattern value="yyyy-MM-dd/&quot;Info.log&quot;"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="100"/>
      <!--每个日志文件的最大大小;可用的单位:KB|MB|GB;不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="8MB"/>
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!--<header value="★★★★★★"/>-->
        <ConversionPattern value="★记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：【%message】%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <appender name="ERROR" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <file value="Logs/"/>
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true"/>
      <!--设置动态文件名-->
      <StaticLogFileName value="false"/>
      <!--变换的形式为日期，这种情况下每天只有一个日志-->
      <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
      <!--<rollingStyle value="Date"/>-->
      <!--变换的形式为日志大小-->
      <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <RollingStyle value="Composite"/>
      <!--日期的格式 (yyyyMMdd)，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <datePattern value="yyyy-MM-dd/&quot;Error.log&quot;"/>
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="100"/>
      <!--每个日志文件的最大大小;可用的单位:KB|MB|GB;不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="8MB"/>
      <!--日志格式-->
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern
          value="
          %n------------------------------------------------★★★★★★
          %n记录时间：
          %date %n线程ID:[%thread] 
          %n日志级别：%-5level
          %n记录类：%logger   
          %n操作者ID：%property{Operator} 
          %n操作类型：%property{Action}       
          %n当前机器名:%property
          %n当前机器名及登录用户：%username 
          %n记录位置：%location
          %n消息描述：%property{Message}
          %n异常：%exception
          %n消息：%message%newline
          %n------------------------------------------------★★★★★★"
          />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <!--设置日志输出级别-->
      <level value="ALL"></level>
      <!--以文件的形式记录日志-->
      <appender-ref ref="INFO"></appender-ref>
      <appender-ref ref="DEBUG"></appender-ref>
      <appender-ref ref="ERROR"></appender-ref>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>